%wrapper-title {
  font-size: 1.5rem;
  @include media($min-md) {
    font-size: 2.2rem;
  }
}

.wrapper {
  color: $very-dark-blue;

  &__title {
    @extend %wrapper-title;
    font-weight: 200;
    margin-bottom: 0.3rem;
  }

  &__title-bold {
    @extend %wrapper-title;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }

  &__text {
    color: $grayish-blue;
    font-size: 0.95rem;
    font-weight: 400;
    margin-bottom: 4rem;
    @include media($min-md) {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
